#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* height: 6em;
  padding: 1.5em; */
  will-change: filter;
}
.logo {
  filter: drop-shadow(0 0 2em var(--pokemon-type-color));
}
.shadow-yellow {
  box-shadow: 0px 0px 3px 3px #fd3;
}
.dropshadow {
  box-shadow: 0px 0px 3px 3px var(--pokemon-type-color);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.skewed {
  transform: skew(-10deg); /* Equal to skewX(10deg) */
}

.active {
}

.pokemon-type-bug {
  --pokemon-type-color: #ac2;
}

.pokemon-type-dark {
  --pokemon-type-color: #754;
}

.pokemon-type-dragon {
  --pokemon-type-color: #73f;
}

.pokemon-type-electric {
  --pokemon-type-color: #fd3;
}

.pokemon-type-fairy {
  --pokemon-type-color: #d8b;
}

.pokemon-type-fighting {
  --pokemon-type-color: #c33;
}

.pokemon-type-fire {
  --pokemon-type-color: #f83;
}

.pokemon-type-flying {
  --pokemon-type-color: #b9f;
}

.pokemon-type-ghost {
  --pokemon-type-color: #759;
}

.pokemon-type-grass {
  --pokemon-type-color: #8c5;
}

.pokemon-type-ground {
  --pokemon-type-color: #ec6;
}

.pokemon-type-ice {
  --pokemon-type-color: #9ed;
}

.pokemon-type-normal {
  --pokemon-type-color: #ba8;
}

.pokemon-type-poison {
  --pokemon-type-color: #a4a;
}

.pokemon-type-psychic {
  --pokemon-type-color: #f59;
}

.pokemon-type-rock {
  --pokemon-type-color: #ba3;
}

.pokemon-type-steel {
  --pokemon-type-color: #bcd;
}

.pokemon-type-water {
  --pokemon-type-color: #69f;
}
